<%= content_for :title, "Flow of Code: Joe Tripodi" %>
<%= content_for :description, "Joe Tripodi's personal website. Includes
blog posts about software development. How-To's for Shopify and lists his
many projects" %>
<div class="mx-auto items-center md:items-start flex flex-col gap-8">
  <%= image_tag("joe-256.png", size: "250x250", class: "rounded-xl -rotate-2", alt: "image of joe") %>
  <h2 class="text-3xl font-bold">Joe who codes</h2>
  <p class="text-xl text-gray-600">
    Keeping the <span class="text-primary-600 font-bold">spark</span> of programming alive
    by "re-creating" the wheel.
    <span class="text-red-highlight font-bold">Many times over...</span>
  </p>
  <%= render 'components/personal_links' %>
</div>
