<% content_for :title, "All Projects" %>
<% content_for :description, "Projects created by Joe Tripodi" %>

<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="flex flex-col gap-2" id="projects">
  <% @projects.each do |project| %>
    <%= render "project_card", project: project %>
  <% end %>
</div>

