<p style="color: green"><%= notice %></p>

<% content_for :title, "Blog Posts" %>

<div class="flex flex-col gap-2" id="posts">
  <% @posts.each do |post| %>
    <%= render "post_card", post: post %>
  <% end %>
</div>

