@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: 5, 150, 105;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: 5, 150, 105;
  }
}

@layer utilities {
  .text-primary-600 {
    color: rgb(var(--text-primary));
  }

  .text-red-highlight {
    color: rgb(168, 63, 63);
  }
}

.trix-editor a {
  color: rgb(9, 130, 92);
  font-weight: bold;
  text-decoration: underline;
}

.trix-content img {
  border-radius: 20px;
}
